.hide { display: none !important; }
.show { display: block !important; }

a { color: var(--primary); }
a:hover { cursor: pointer; }

button:hover { cursor: pointer; }

.img-icn {
    display: flex;
    justify-self: center;
    align-items: center;
}

.flyout-menu {
    & ul {
        z-index: 50;
        position: absolute;
        display: none;
        background-color: var(--bg);
        border-radius: 6px;
        overflow: hidden;

        & li { padding: 10px; }
    }

    &:hover > ul,
    &:focus > ul {
        display: block;
        cursor: pointer;
    }

    & > button:focus+ul {
        display: block;
        cursor: pointer;
    }

    & > input[type=checkbox]:checked+ul {
        display: block;
        cursor: pointer;
    }

    & li:hover { cursor: pointer; }
}

main#App {
    display: grid;
    grid-template: 100% / 100px auto;
}