nav#Sidebar {
	height: 98vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 17px;
	align-self: start;
	padding: 1em 0;
	background: linear-gradient(to bottom, var(--sdblue), var(--steelblue));
	box-shadow: -3px -3px 5px #003c5f30;
	border-top: .5px solid var(--dsteelblue);
	border-left: .5px solid var(--steelblue);
	border-bottom: .5px solid var(--dblue);
	border-right: .5px solid var(--dblue);
	z-index: 10;

	& > section {
		display: flex;
		flex-direction: column;
		justify-content: start;
		gap: 2em;
		text-shadow: 0 0 3px var(--blue);
	}

	& section.more {
		justify-content: end;
	}

	& div.img-icn:hover {cursor:pointer;}

	& .list-menu {
		& ul {display: none;}
	}

}

@media screen and (max-width: 480px) {
	nav#Sidebar {
		height: 100%;
		flex-direction: row;
		justify-content: space-between;
		gap: 1em;
		align-items: center;
		padding: .25em 0;
		background: linear-gradient(to right, var(--sdblue), var(--steelblue));
		overflow-x: scroll;
		scrollbar-width: none;
		padding: 0 1em;

		& > section {
			flex-direction: row;
			align-items: center;
			gap: 1em;
		}

		& div.img-icn {
			height: 2em;
			aspect-ratio: 1/1;
		}
	}
}